.list {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-2) {
    grid-column: 2;
    grid-row: 2;
  }
}

.list__container {
  @media (min-width: $breakpoint-2) {
    display: grid;
    grid-template-columns: auto 81.8rem auto;
    grid-template-rows: $size-4 auto $size-4;
  }

  @media (min-width: $breakpoint-1) {
    margin: $size-4 0;
    padding: 0 $size-10;
  }
}

.list-type {
  background: $white;
  border-radius: $radius-1;
  box-shadow: $shadow-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $size-1 $size-2;
  padding: $size-2 $size-4;
}

.list-type__link {
  text-decoration: none;
}

.list-type__name {
  color: $secondary-5;
  display: flex;
  font-family: $text;
  font-size: $size-5;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin: $size-2 0 0 0;
  padding: 0;
}

.list-type__details {
  color: $gray-5;
  font-family: $text;
  font-size: $size-4;
  line-height: 1;
  margin: $size-1 0 0 0;
}

.list-type__details--span {
  color: $gray-7;
}

.list-type__update {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: $size-4;
}

.list-type__edit {
  color: $gray-4;
  font-size: $size-4;
  margin: 0 $size-2 0 $size-1;
}

.list-type__delete {
  color: $primary-3;
  font-size: $size-4;
  margin: 0 0 0 $size-1;
}
