.meal {
    display: grid;
    grid-template-columns: auto $size-13 $size-14 auto;
    grid-template-rows: $size-4 $size-9 $size-13 $size-13 $size-9 auto; 
}
  
// @media (max-width: $breakpoint-2) {
//   .meal {
//     flex-direction: row;
//   }
// }