.meal {
    display: grid;
    grid-template-columns: auto $size-14 $size-16 auto;
    grid-template-rows: $size-3 $size-6 $size-12 32rem $size-9 auto; 
}
  
// @media (max-width: $breakpoint-2) {
//   .meal {
//     flex-direction: row;
//   }
// }