.meal {
    display: grid;
    grid-template-columns: auto $size-14 $size-15 auto;
    grid-template-rows: $size-4 $size-6 $size-12 32rem $size-12 auto; 
}

@media (max-width: $breakpoint-2) {
    .meal {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: $breakpoint-2) {
    .meal {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}