button {
    border: none;
    border-radius: $radius-2;
    font-family: $text;
  }
  
  .form {
    background: $primary-5;
    border-radius: $radius-1;
    box-shadow: $shadow-3;
    display: grid;
    grid-column: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-template-columns: 100%;
    grid-template-rows: $size-9 $size-9 $size-9 $size-9 $size-7 $size-6 $size-9;
    margin: 0 $size-4;
    padding: $size-2;
  }
  
  .form__nameinputfield {
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: $text;
    font-size: $size-3;
    grid-column: 1;
    grid-row: 1;
    margin: 0 $size-3 $size-2 $size-3;
    padding: 0;
  }
  
  .form__nameinputfield--input {
    border: none;
    border-radius: $radius-1;
    box-shadow: $shadow-1;
    color: $primary-9;
    font-family: $text;
    height: $size-4;
    margin: 0;
    padding: $size-1;
  }
  
  .form__nameinputfield--input:focus {
    box-shadow: $shadow-3;
    outline: none;
  }
  
  .form__iteminputfields {
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: $text;
    font-size: $size-3;
    margin: 0 $size-3 $size-2 $size-3;
    padding: 0;
  }
  
  .form__iteminputfields--input {
    border: none;
    border-radius: $radius-1;
    box-shadow: $shadow-1;
    color: $primary-9;
    font-family: $text;
    height: $size-4;
    margin: 0;
    padding: $size-1;
  }
  
  .form__iteminputfields--input:focus {
    box-shadow: $shadow-3;
    outline: none;
  }
  
  .form__iteminputfields--dropdown {
    font-family: $text;
    height: $size-5;
  }

  .form__inputfields--itemname {
    grid-column: 1;
    grid-row: 2;
  }

  .form__inputfields--amount {
    grid-column: 1;
    grid-row: 3;
  }

  .form__inputfields--unit {
    grid-column: 1;
    grid-row: 4;
  }

  .form__button--item-div {
    display: flex;
    grid-column: 1;
    grid-row: 5;
    justify-content: flex-end;
    margin: 0 $size-3 $size-4 0;
  }

  .form__button--item-button {
    background: $primary-7;
    box-shadow: $shadow-2;
    color: $gray-1;
    padding: $size-1 $size-7;
  }

  .form__button--item-button:focus {
    box-shadow: $shadow-3;
    outline: none;
  }

  .form__button--meal-div {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 7;
    margin: $size-4 $size-3 0 $size-3;
  }
  
  .form__button--meal-button {
    background: $secondary-5;
    box-shadow: $shadow-3;
    color: $secondary-9;
    font-size: $size-4;
    font-weight: bold;
    padding: $size-3;
  }

  .form__button--meal-button:focus {
    box-shadow: $shadow-4;
    outline: none;
  }