button {
    border: none;
    border-radius: 3px;
    font-family: $text;
    padding: 5px;
  }
  
  .form {
    background: $gray-2;
    box-shadow: 0 0 5px $gray-6;
    grid-column: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 $size-4;
  }
  
  .form__form {
    padding: $size-2;
  }
  
  .form__button {
    display: flex;
    margin-top: $size-2;
  }
  
  .form__button--save {
    background: $primary-6;
    box-shadow: 0 0 5px $gray-8;
    color: $gray-1;
    width: 100%;
  }
  
  .form__button--add {
    background: $gray-1;
    box-shadow: 0 0 5px $gray-8;
    color: $gray-8;
  }
  
  .form__header {
    color: $gray-8;
    font-family: $text;
    font-size: $size-7;
    margin: 0;
    padding: $size-2 $size-8;
  }
  
  .form__iteminputfields {
    color: $gray-8;
    display: flex;
    flex-direction: column;
    font-family: $text;
    font-size: $size-4;
    font-weight: bold;
    margin: $size-2;
    padding: $size-2;
  }
  
  .form__iteminputfields--input {
    border: none;
    color: $gray-8;
    font-family: $text;
    height: $size-5;
    margin: $size-5;
    width: 100%;
  }
  
  .form__iteminputfields--input:focus {
    box-shadow: 0 0 2px $gray-8;
    outline: none;
  }
  
  .form__iteminputfields--dropdown {
    font-family: $text;
    height: $size-7;
  }
  
  .form__nameinputfield {
    color: $gray-8;
    display: flex;
    flex-direction: column;
    font-family: $text;
    font-size: $size-4;
    font-weight: bold;
    padding: 0;
  }
  
  .form__nameinputfield--input {
    border: none;
    color: $gray-8;
    font-family: $text;
    height: $size-5;
    margin: $size-5;
  }
  
  .form__nameinputfield--input:focus {
    box-shadow: 0 0 2px $gray-8;
    outline: none;
  }