.itemlist {
    background: $gray-2;
    box-shadow: 0 0 5px $gray-6;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    margin: $size-8;
  }
  
  .itemlist__header {
    color: $gray-8;
    font-family: $text;
    font-size: $size-7;
    margin: 0;
    padding: $size-2 $size-8;
  }
  
  .itemlist__body {
    margin: $size-2;
    padding: 0;
  }
  
  .itemlist__item {
    background: $gray-1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $gray-8;
    display: flex;
    font-size: $size-2;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: $breakpoint-2) {
    .itemlist {
      margin: 0 0 0 $size-2;
    }
  }