html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $gray-1;
}

// body::after {
//     content: "";
//     display: block;
//     position: absolute;
//     z-index: -1;   
//     width: 100%;
//     height: 100%;
//     background-image: url(../images/pesto-pasta.jpg);
//     background-position: 45%;
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     opacity: 0.3;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
// }

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}