html {
    font-size: 62.5%;
}

body {
    background: $light-beige;
    margin: auto;
    width: 90%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

@media (min-width: $desktop-breakpoint) {
    body {
      width: 60%;
    }
  }