// colors

// gray scale
$gray-1: #FCFCFC;
$gray-2: #E2E3E2;
$gray-3: #C0C3C0;
$gray-4: #A6AAA6;
$gray-5: #7B837C;
$gray-6: #646B65;
$gray-7: #4D504D;
$gray-8: #363937;
$gray-9: #1B1C1B;

// primary
$green-1: #CCEACF;
$green-2: #A8DBAD;
$green-3: #83CC8B;
$green-4: #5FBD69;
$green-5: #44A64D;
$green-6: #35823C;
$green-7: #17391B;
$green-8: #08150A;

// old colors
$dk-blue: #467077;
$light-beige: #e8e4de;
$light-blue: #9dbdc4;
$light-orange: #edcea1;
$md-orange: #dbb67f;
$md-brown: #7a5a2c;
$off-white: #f7f4ef;
$white: white;

// spacing
$s-size: 1.2rem;
$sm-size: 1.4rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.2rem;

// screen sizing
$tablet-breakpoint: 40rem;
$desktop-breakpoint: 70rem;

// fonts
$serif: 'Playfair Display', serif;
$sans-serif: 'Open Sans', sans-serif;